<!-- * * * * * * * * * * CONTACTENOS * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="box">
    <div class="info">
      <div class="col1-container">
        <img src="./assets/img/w6.jpg" class="card-img" alt="...">
      </div>
    </div>
    <div class="info-box">
      <div>
        <h3 class="h3-title">Nosotros</h3>
      </div>
      <div>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi exercitationem quae quam eveniet! Minus labore voluptatibus corporis recusandae accusantium velit, nemo, nobis, nulla ullam pariatur totam quos.</p>
      </div>
    </div>
  </div>
</div>

