<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Nav Bar * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <span class="example-spacer"></span>
  <button mat-button class="name-button" routerLink="/inicio">
    <span><i class="fas fa-meteor"></i></span><span>Flash Forecast</span>
  </button>
  <span class="example-spacer"></span>
  
  <!-- Login button -->

  <button 
  mat-icon-button class="example-icon" aria-label="icon-button" 
  (click)="clickLoginIcon()" matTooltip="Login"
  *ngIf="!isLogged; else viewLogout">
  <mat-icon>account_circle</mat-icon>
  </button>

  <!-- Logout button -->

  <ng-template #viewLogout>
    <button mat-icon-button class="example-icon" aria-label="icon-button" (click)="onLogout()" matTooltip="Logout"><mat-icon>logout</mat-icon>
    </button>
  </ng-template>
  

  <!-- Notification button -->

  <button mat-icon-button class="example-icon" aria-label="icon-button" matTooltip="Notificaciones"><mat-icon>notifications</mat-icon>
  </button>

  <!-- Search button -->

  <button mat-icon-button class="example-icon" aria-label="icon-button"  (click)="clickSearchIcon()" matTooltip="Buscar"><mat-icon>search</mat-icon>
  </button>

  
  <ng-container *ngIf="showSearchForm">
    <form class="search-form">
      <input type="search" id="search-box" placeholder="Buscar" class="no-outline" aria-label="Search">
      <label for="search-box"><span><i class="fas fa-search"></i></span></label>
    </form>
  </ng-container>

  <ng-container *ngIf="showLoginForm">
    <app-login></app-login>
  </ng-container>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/inicio">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/encuesta">
      <mat-icon>my_location</mat-icon>
      <span>Mi ubicación</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/basededatos">
      <mat-icon>attachment</mat-icon>
      <span>Base de datos</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/contactenos">
      <mat-icon>message</mat-icon>
      <span>Contáctenos</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/nosotros">
      <mat-icon>location_city</mat-icon>
      <span>Nosotros</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
